*{
  margin-bottom: 0px!important;
}

.welcome-box{
  padding-top: 50px;
  width: 100%;
  height: auto;
  background-color: rgb(235, 233, 228);
  text-align: center;
}

.welcome-title{
  font-size: 40px;
  font-weight: 900;
  padding: 15px;
  color: rgb(255, 0, 4);
  text-shadow: 
      1px 1px 0 #18e657,
      3px 3px #ffeb00,
      4px 4px black;

}

.welcome-message{
  font-size: 25px;
  font-weight: 800;
  padding-bottom: 15px;
}

.welcome-submessage{
  font-size: 15px;
  font-weight: 600;
}